
.cursor-green {
  cursor: url('../../cursor.svg'), auto;
}

/* footer */

.contact-link__projects {
    font-size: 32px;
    margin-left: 2em;
  }
  .about-link__projects {
    text-decoration: underline;
    font-size: 32px;
    margin-right: 2em;
  }

  .footer__projects {
    position: absolute;
    bottom: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  
  }



  /* main */
.section-projects-container {
  padding: 9em;
  width: 100%;
  display: flex;
  justify-content:space-between;

}

.projects-list {
  position: relative;
  /* left: 90%; */
}

.projects-list__container {
  display: flex;
  flex-direction: row;
  font-size: 3.5em;
  gap: 10px;
  justify-content: flex-start;
  align-content: center;
  color: var(--grey);
  font-style: italic;
}

.projects-list__container:hover {
  color: black;
  font-style: normal;
}
  
.list-project__name, .list-project__subtitle {
  white-space: nowrap;
  margin-bottom: 0.1em;
  padding: 0;
}

.section-projects-title {
  font-size: 30px;
  /* text-decoration: underline; */
  font-weight: 400;
}

.section-projects-arrow {
  position: relative;
  left: 10px;
  bottom: -4px;
}

/* MQ */
/* medium */

@media (max-width: 1100px) {
  
  .section-projects-title {
    white-space: nowrap;
  }

  .section-projects-container {
    padding: 7em;
    flex-direction: column;
  }

}

/* ------------------------------
//* --------****MOBILE****--------
//* ------------------------------*/

@media (max-width: 700px) {
  .section-projects-container {
    padding: 3em;
    flex-direction: column;
  }

  .section-projects-title {
        margin-top: 36px;
  }

  .projects-list__container {
    font-size: 32px;
    gap: 8px;

  }

  .contact-link__projects {
    margin-left: 1em;
  }
}


/* EFECTO */
.hover-reveal {
  opacity: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  width: 200px;
  height: 200px;
  pointer-events: none;
  /* transform: translate(-50%, -50%); */
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
.hover-reveal .hover-reveal__inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}
.hover-reveal .hover-reveal__img {
  position: relative;
  transform: scale(0.9, 0.9);
  /* transform-origin: 50% 100%; */
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-position: 50% 50%; */
  transition: transform 0.4s ease-out;
  will-change: transform;
}

.img-cont {
  width: 70%!important;
position: relative;
left: 250px;
}
